<app-header></app-header>
<div class="container mt-4">
    <h2>Listagem de ordens de serviço</h2>
    <button routerLink="/form-order">Novo</button>
    <button (click)="generatePDF()">Gerar PDF</button>
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>title</th>
          <th>status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.title }}</td>
          <td>{{ order.status }}</td>
          <td><button (click)="excluirOrdem(order.id)">Excluir</button><button routerLink="/form-order/{{order.id}}">Visualizar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
